.toolbar-background-md {
    background-color: crimson;
}

.toolbar-title-md {
    color: white;
}

.button-md {
    background-color: crimson;
}

.checked {
    color: rgb(240, 166, 28);
}

.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
    color: white
}