page-topnature {
    h6 {
        font-weight: 800;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    img {
        border-radius: 10px;
        max-height: 150px;
        width: 100%;
    }
    .addcircle {
        color: crimson;
        cursor: pointer;
    }
    ion-header {
        background-color: crimson
    }
    .button-md {
        height: 30px;
        font-size: 11px;
        padding-left: 12px;
        border-radius: 4px
    }
    .loc {
        font-size: 16px;
        font-family: inherit;
        font-weight: 500;
        line-height: 0.5;
        color: crimson;
    }
    h4 {
        font-size: 17px;
        line-height: 0.5;
    }
    .border {
        border-bottom: 1px solid gray;
        opacity: 0.5;
        margin-bottom: 8px
    }
}